<div id="container">
  <div style="float:left;">
    <h1>
      <%= @user.email %>
    </h1>
  </div>
  
  <div style="float:right;">
    <table>
      <tr>
        <td>Name</td> <td><%= @user.name %> </td>
      </tr>

      <tr>
        <td>URL</td> <td> <%= link_to user_path(@user), @user %> </td>
      </tr>

      <tr>
        <td>Created at</td> <td> <%= @user.created_at.strftime("%Y-%m-%d") %> </td>
      </tr>
    </table>
  </div>
  <div style="clear:both;"></div>
</div>
