<header>
	<% logo = image_tag logo_path, :alt => "Sample APP", :class => "round" %>
	<%= link_to logo, root_path%>
	<nav class="round">
		<ul>
            <% if signed_in? %>
              <li> <%= link_to current_user.email, user_path(current_user) %> </li>
              <li> <%= link_to "sign out", signout_path, :method => :delete %> </li>
            <% else %>
              <li> <%= link_to "sign in", signin_path %> </li>
            <% end %>
		</ul>
	</nav>
</header>
